body {
  font-family: 'Century Gothic W01', Arial, Helvetica, sans-serif, serif;
  color: #671d47;
  background: white;
}
body *:not(i) {
  font-family: 'Century Gothic W01', Arial, Helvetica, sans-serif important;
}
h1,
h2,
h3,
h4 {
  font-family: 'Century Gothic W01', Arial, Helvetica, sans-serif;
}
a {
  color: #671d47;
}
a:hover {
  color: #f8aa23;
}
.sy-box.topslider {
  background: #aeccd0;
}
.sy-pager {
  margin: 0!important;
  padding: 0.35rem 0 !important;
}
.sy-pager li.sy-active a {
  background: #671d47 !important;
}
.sy-pager li a {
  background: transparent!important;
  border: 1px solid #671d47;
}
blockquote {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
}
header #headermenuw {
  background: #bfdee3;
}
header #logotel {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logotel .adrtel {
  display: flex;
  justify-content: flex-end;
  flex: 0 1 auto;
}
header #logotel .adrtel > div {
  display: inline-block;
  flex: 1 1 auto;
  padding: 0 1rem;
  margin: 0;
  border-right: 1px solid #f8aa23;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logotel .adrtel > div:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}
header #logotel .adrtel > div img {
  margin: 0 1rem 0 0;
}
header #mnt {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
@media (max-width: 720px) {
  header #mnt {
    display: block;
  }
}
header #headermenu {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
@media (max-width: 720px) {
  header #headermenu {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0!important;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
  }
  header #headermenu.mobvis {
    max-height: 1000px;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    opacity: 1;
  }
}
header #headermenu .headermenuitem {
  flex: 0 1 auto;
  color: #671d47;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;
  display: flex;
  margin-left: -1px;
  color: white!important;
  word-wrap: none;
  white-space: nowrap;
  position: relative;
}
header #headermenu .headermenuitem.active {
  color: #671d47;
  text-decoration: underline;
}
header #headermenu .headermenuitem a span {
  padding: 0 1em;
  border-right: 1px solid #f8aa23;
}
header #headermenu .headermenuitem .sub-menu {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 3rem;
  left: 0;
  margin-top: -1px;
  z-index: 99;
}
header #headermenu .headermenuitem .sub-menu .sub-sub-menu {
  display: none;
  position: absolute;
  right: 0;
}
header #headermenu .headermenuitem:hover {
  background: #f39200;
  color: white!important;
}
header #headermenu .headermenuitem:hover a {
  color: white!important;
}
header #headermenu .headermenuitem:hover .sub-menu {
  width: auto;
  height: auto;
  background: #f8aa23;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item {
  position: relative;
  text-align: left;
  width: 100%;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover {
  background: #f39200;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item a {
  width: 100%;
  text-align: left;
  padding: 1em;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu {
  display: block;
  left: 100%;
  top: 0;
  width: 100%;
  position: absolute;
  background: #f39200;
  display: flex;
  flex-direction: column;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item {
  text-transform: none;
  background: #f39200;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item a {
  white-space: normal;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item > a {
  padding: 1em 1em 0em 1em;
  line-height: 1.2em;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item .sub-sub-menu-list {
  display: flex;
  flex-direction: column;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item .sub-sub-menu-list-item a {
  font-weight: normal;
  padding: 0.5em 1em;
  width: 100%;
  line-height: 1.2em;
  font-size: 0.9rem;
  border: none;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item .sub-sub-menu-list-item a span {
  border: none!important;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item .sub-sub-menu-list-item a span:before {
  margin: 0.1rem 0.5rem 0 0;
  content: '-';
}
footer {
  display: block;
  background: #671d47;
}
footer.ui.container {
  margin: 1rem 0 0 0!important;
}
footer .footermenu {
  display: flex!important;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
footer .footermenu a {
  color: white!important;
  padding: 0 1rem 0 0;
  margin: 0 1rem 0 0;
  border-right: 1px solid white;
  line-height: 1rem;
}
@media (max-width: 767px) {
  footer .footermenu a {
    padding: 1rem 0.5rem;
  }
}
footer .footermenu a:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.morebutton {
  margin: 1rem 0;
  position: relative;
  color: white;
  display: flex;
  justify-content: flex-start;
}
.morebutton:hover {
  color: #bfdee3;
}
.morebutton .iconw {
  background: #f39200;
  padding: 0.5rem;
}
.morebutton .txt {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  background: #f8aa23;
}
.morebutton.rot .iconw {
  background: #671d47;
}
.morebutton.rot .txt {
  background: #7e2559;
}
.c50i50 {
  width: 100%;
  display: flex!important;
  justify-content: space-between;
  flex-direction: row;
}
.c50i50 > * {
  width: 50%;
}
.c50i50 .content_no_even_odd {
  padding: 2rem 2rem;
}
.c50i50 .content_no_even_odd h4 {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.c50i50 .content_no_even_odd h3 {
  color: #f8aa23;
  margin: 0 0 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.c50i50 .content_no_even_odd ul {
  padding: 0;
  margin: 0;
}
.c50i50 .content_no_even_odd li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.c50i50 .content_no_even_odd li p:after {
  margin: 0.1rem 0 0 0.5rem;
  content: '>';
}
.c50i50 .content {
  padding: 2rem 2rem;
}
.c50i50 .content .pimg {
  background-size: auto 100%!important;
  height: 100%;
  background-position: left center;
}
.c50i50 .content h4 {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.c50i50 .content h3 {
  color: #f8aa23;
  margin: 0 0 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.c50i50 .content ul {
  padding: 0;
  margin: 0;
}
.c50i50 .content li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.c50i50 .content li p:after {
  margin: 0.1rem 0 0 0.5rem;
  content: '>';
}
.c50i50 .content:nth-of-type(odd) {
  background-position: left 1rem top;
}
.c50i50 .content:nth-of-type(odd) h3,
.c50i50 .content:nth-of-type(odd) h4 {
  text-align: right;
}
.c50i50 .content:nth-of-type(even) .pimg {
  background-position: right 1rem center!important;
}
.c50i50 .content:nth-of-type(even) li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.c50i50 .content:nth-of-type(even) li p:before {
  margin: 0.1rem 0.5rem 0 0;
  content: '>';
}
.c50i50 .content:nth-of-type(even) li p:after {
  content: '';
}
.cblock {
  margin: 0 0 1rem;
}
.cblock.flex {
  display: flex!important;
  flex-direction: row;
  justify-content: space-between;
}
#home {
  padding: 1rem 0 0 0;
}
#home #slidercontainer,
#home #infoblock_endoscout {
  margin: 0 0 1rem;
}
#home #slider {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#home #slider .slideritem {
  display: flex;
  justify-content: space-between;
}
#home #slider .slideritem .pimg {
  background-size: cover!important;
  width: 66%;
  min-height: 400px;
}
#home #slider .slideritem .ptxt {
  padding: 3rem 2rem;
  width: 34%;
  background-color: #bfdee3 !important;
}
#home #slider .slideritem .ptxt h4 {
  font-weight: normal;
  margin: 0;
}
#home #slider .slideritem .ptxt h3 {
  color: #f8aa23;
  margin: 0 0 1rem 0;
  font-size: 2rem;
}
.content50 {
  flex: 1 0 50%;
  width: 50%;
  padding: 2rem;
}
.content50 .pimg {
  height: 100%;
  background-size: 50% auto!important;
  background-position: right top!important;
  padding: 0 40% 0 0;
}
.content50 h4 {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.content50 h3 {
  color: #f8aa23;
  margin: 0 0 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.content25 {
  flex: 1 0 25%;
  width: 25%;
  padding: 2rem;
}
.content25 .loc {
  margin: 0 0 1rem 0;
}
.content25.mint {
  background: #bfdee3;
  color: #671d47 !important;
}
.content25.mint h3 {
  color: #f39200 !important;
}
.content25.mint h4 {
  color: #671d47 !important;
}
.content25 .pimg {
  background-size: 30% auto!important;
  background-position: right bottom!important;
  padding: 0 0 0 0;
}
.content25 h4 {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.content25 h3 {
  color: #f8aa23;
  margin: 0 0 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
