body {
  font-family: 'Century Gothic W01', Arial, Helvetica, sans-serif, serif;
  color: #671d47;
  background: white;
}
body *:not(i) {
  font-family: 'Century Gothic W01', Arial, Helvetica, sans-serif important;
}
h1,
h2,
h3,
h4 {
  font-family: 'Century Gothic W01', Arial, Helvetica, sans-serif;
}
a {
  color: #671d47;
}
a:hover {
  color: #f8aa23;
}
.sy-box.topslider {
  background: #bfdee3;
}
.sy-pager {
  margin: 0!important;
  padding: 0.35rem 0 !important;
}
.sy-pager li.sy-active a {
  background: #671d47 !important;
}
.sy-pager li a {
  background: transparent!important;
  border: 1px solid #671d47;
}
blockquote {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
}
header #headermenuw {
  background: #aeccd0;
}
header #logotel {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logotel .adrtel {
  display: flex;
  justify-content: flex-end;
  flex: 0 1 auto;
}
header #logotel .adrtel > div {
  display: inline-block;
  flex: 1 1 auto;
  padding: 0 1rem;
  margin: 0;
  border-right: 1px solid #f8aa23;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logotel .adrtel > div:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}
header #logotel .adrtel > div img {
  margin: 0 1rem 0 0;
}
header #mnt {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
@media (max-width: 720px) {
  header #mnt {
    display: block;
  }
}
header #headermenu {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
@media (max-width: 720px) {
  header #headermenu {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0!important;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
  }
  header #headermenu.mobvis {
    max-height: 1000px;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    opacity: 1;
  }
}
header #headermenu .headermenuitem {
  flex: 0 1 auto;
  color: #671d47;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;
  display: flex;
  margin-left: -1px;
  color: white!important;
  word-wrap: none;
  white-space: nowrap;
  position: relative;
}
header #headermenu .headermenuitem:first-child {
  margin-left: -1rem;
}
header #headermenu .headermenuitem.active {
  color: #671d47;
  text-decoration: underline;
}
header #headermenu .headermenuitem a span {
  padding: 0 1em;
  border-right: 1px solid #f8aa23;
}
header #headermenu .headermenuitem .sub-menu {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 3rem;
  left: 0;
  margin-top: -1px;
  z-index: 99;
}
header #headermenu .headermenuitem .sub-menu .sub-sub-menu {
  display: none;
  position: absolute;
  right: 0;
}
header #headermenu .headermenuitem:hover {
  background: #f39200;
  color: white!important;
}
header #headermenu .headermenuitem:hover a {
  color: white!important;
}
header #headermenu .headermenuitem:hover .sub-menu {
  width: auto;
  height: auto;
  background: #f8aa23;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item {
  position: relative;
  text-align: left;
  width: 100%;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover {
  background: #f39200;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item a {
  width: 100%;
  text-align: left;
  padding: 1em;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu {
  display: block;
  left: 100%;
  top: 0;
  width: 100%;
  position: absolute;
  background: #f39200;
  display: flex;
  flex-direction: column;
  padding: 0 0 1em 0;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item {
  text-transform: none;
  background: #f39200;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item a {
  white-space: normal;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item > a {
  padding: 1em 1em 0em 1em;
  line-height: 1.2em;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item .sub-sub-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item .sub-sub-menu-list-item {
  display: flex;
  flex-direction: column;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item .sub-sub-menu-list-item a {
  font-weight: normal;
  padding: 0em 1em;
  width: 100%;
  line-height: 1.6em;
  font-size: 0.9rem;
  border: none;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item .sub-sub-menu-list-item a span {
  border: none!important;
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item .sub-sub-menu-list-item a span:before {
  margin: 0.1rem 0.5rem 0 0;
  content: '-';
}
header #headermenu .headermenuitem:hover .sub-menu .sub-menu-item:hover .sub-sub-menu .sub-sub-menu-item .sub-sub-menu-list-item a:hover {
  background: rgba(255, 255, 255, 0.1);
}
footer {
  display: block;
  background: #671d47;
}
footer.ui.container {
  margin: 1rem 0 0 0!important;
}
footer .footermenu {
  display: flex!important;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
footer .footermenu a {
  color: white!important;
  padding: 0 1rem 0 0;
  margin: 0 1rem 0 0;
  border-right: 1px solid white;
  line-height: 1rem;
}
@media (max-width: 767px) {
  footer .footermenu a {
    padding: 1rem 0.5rem;
  }
}
footer .footermenu a:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.morebutton {
  margin: 1rem 0;
  position: relative;
  color: white;
  display: flex;
  justify-content: flex-start;
}
.morebutton:hover {
  color: #aeccd0;
}
.morebutton .iconw {
  background: #f39200;
  padding: 0.5rem;
}
.morebutton .txt {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  background: #f8aa23;
}
.morebutton.rot .iconw {
  background: #671d47;
}
.morebutton.rot .txt {
  background: #7e2559;
}
.c50i50 {
  width: 100%;
  display: flex!important;
  justify-content: space-between;
  flex-direction: row;
}
.c50i50 > * {
  width: 50%;
}
.c50i50 .content_no_even_odd {
  padding: 2rem 2rem;
}
.c50i50 .content_no_even_odd h4 {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.c50i50 .content_no_even_odd h3 {
  color: #f8aa23;
  margin: 0 0 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.c50i50 .content_no_even_odd ul {
  padding: 0;
  margin: 0 0 1rem 0;
}
.c50i50 .content_no_even_odd li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.c50i50 .content_no_even_odd li p {
  padding-left: 1em;
}
.c50i50 .content_no_even_odd li p:before {
  margin: 0.1rem 0.5rem 0 -1em;
  content: '>';
}
.c50i50 .content {
  padding: 2rem 2rem;
}
.c50i50 .content .pimg {
  background-size: auto 100%!important;
  height: 100%;
  background-position: left center;
}
.c50i50 .content h4 {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.c50i50 .content h3 {
  color: #f8aa23;
  margin: 0 0 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.c50i50 .content ul {
  padding: 0;
  margin: 0;
}
.c50i50 .content li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.c50i50 .content li p:after {
  margin: 0.1rem 0 0 0.5rem;
  content: '>';
}
.c50i50 .content:nth-of-type(odd) {
  background-position: left 1rem top;
}
.c50i50 .content:nth-of-type(odd) h3,
.c50i50 .content:nth-of-type(odd) h4 {
  text-align: right;
}
.c50i50 .content:nth-of-type(even) .pimg {
  background-position: right 1rem center!important;
}
.c50i50 .content:nth-of-type(even) li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.c50i50 .content:nth-of-type(even) li p:before {
  margin: 0.1rem 0.5rem 0 0;
  content: '>';
}
.c50i50 .content:nth-of-type(even) li p:after {
  content: '';
}
.cblock {
  margin: 0 0 1rem;
}
.cblock.flex {
  display: flex!important;
  flex-direction: row;
  justify-content: space-between;
}
#home {
  padding: 1rem 0 0 0;
}
#home .pbereiche a {
  color: inherit!important;
  text-decoration: underline;
}
#home #slidercontainer,
#home #infoblock_endoscout {
  margin: 0 0 1rem;
}
#home #slider {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#home #slider .slideritem {
  display: flex;
  justify-content: space-between;
}
#home #slider .slideritem .pimg {
  background-size: cover!important;
  width: 66%;
  min-height: 400px;
}
#home #slider .slideritem .ptxt {
  padding: 3rem 2rem;
  width: 34%;
  background-color: #aeccd0 !important;
}
#home #slider .slideritem .ptxt h4 {
  font-weight: normal;
  margin: 0;
}
#home #slider .slideritem .ptxt h3 {
  color: #f8aa23;
  margin: 0 0 1rem 0;
  font-size: 2rem;
}
.content50 {
  flex: 1 0 50%;
  width: 50%;
  padding: 2rem;
}
.content50 .pimg {
  height: 100%;
  background-size: 50% auto!important;
  background-position: right top!important;
  padding: 0 40% 0 0;
}
.content50 h4 {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.content50 h3 {
  color: #f8aa23;
  margin: 0 0 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
.content25 {
  flex: 1 0 25%;
  width: 25%;
  padding: 2rem;
}
.content25 .loc {
  margin: 0 0 1rem 0;
}
.content25.mint {
  background: #aeccd0;
  color: #671d47 !important;
}
.content25.mint h3 {
  color: #f39200 !important;
}
.content25.mint h4 {
  color: #671d47 !important;
}
.content25 .pimg {
  background-size: 30% auto!important;
  background-position: right bottom!important;
  padding: 0 0 0 0;
}
.content25 h4 {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.content25 h3 {
  color: #f8aa23;
  margin: 0 0 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}
#breadcrumbsInline a {
  line-height: 2rem;
  font-size: 0.8rem;
  color: inherit;
}
#breadcrumbsInline a:after {
  content: '>>';
  margin: 0 0.75rem 0 1rem;
}
#breadcrumbsInline a:last-child:after {
  content: '';
}
#breadcrumbs {
  background: #bfdee3;
}
#breadcrumbs .container {
  padding: 0;
}
#breadcrumbs .container a {
  line-height: 2rem;
  font-size: 0.8rem;
}
#breadcrumbs .container a:after {
  content: '>>';
  margin: 0 0.75rem 0 1rem;
}
#breadcrumbs .container a:last-child:after {
  content: '';
}
.subpage.productgroupslist .product,
.subpage.productlist .product {
  display: flex !important;
  justify-content: space-between;
  padding: 0!important;
  margin-top: 2rem!important;
  border-width: 1px;
  border-style: solid;
}
.subpage.productgroupslist .product .icons,
.subpage.productlist .product .icons {
  display: flex;
  justify-content: flex-start;
}
.subpage.productgroupslist .product .icons > div,
.subpage.productlist .product .icons > div {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.subpage.productgroupslist .product .pimg,
.subpage.productlist .product .pimg {
  width: 20%;
  background-size: cover!important;
  background-position: center center;
}
.subpage.productgroupslist .product .ptxt,
.subpage.productlist .product .ptxt {
  background: #aeccd0;
  min-height: 180px;
  padding: 1rem 2rem;
  width: 60%;
}
.subpage.productgroupslist .product .ptxt h3,
.subpage.productlist .product .ptxt h3 {
  font-size: 1.8rem;
  color: #f39200;
  text-transform: uppercase;
}
.subpage.productgroupslist .product .plink,
.subpage.productlist .product .plink {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subpage.productgroupslist .product .plink a,
.subpage.productlist .product .plink a {
  font-weight: bold;
}
.subpage.productgroupslist .header,
.subpage.productlist .header {
  margin: 1rem 0;
}
.subpage.productgroupslist .header h1,
.subpage.productlist .header h1 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0;
}
.subpage.productgroupslist .header .ct,
.subpage.productlist .header .ct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.subpage.productgroupslist .pgroup,
.subpage.productlist .pgroup {
  background: #e9e9e9;
}
.subpage.productgroupslist .pgroup .img,
.subpage.productlist .pgroup .img {
  padding: 30% 0 0 0;
}
.subpage.productgroupslist .pgroup .titleAndLink,
.subpage.productlist .pgroup .titleAndLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.subpage.productgroupslist .pgroup .titleAndLink h2,
.subpage.productlist .pgroup .titleAndLink h2 {
  margin: 0;
}
.subpage.productgroupslist.landing .pgroup.idx0,
.subpage.productlist.landing .pgroup.idx0 {
  background: #671d47;
}
.subpage.productgroupslist.landing .pgroup.idx0 h2,
.subpage.productlist.landing .pgroup.idx0 h2 {
  color: white;
}
.subpage.productgroupslist.landing .pgroup.idx1,
.subpage.productlist.landing .pgroup.idx1 {
  background: #f39200;
}
.subpage.about > .container {
  padding: 1rem 0!important;
}
.subpage.about .c50i50 {
  margin: 0 0 1rem 0;
}
.subpage.about .c50i50.c2313 > * {
  width: 34%!important;
}
.subpage.about .c50i50.c2313 > *:first-child {
  width: 66%!important;
}
.subpage.about .c50i50.team > * {
  width: 100%;
}
.subpage.about .c50i50.team > * .ct {
  padding: 0 2rem;
  color: #1e1e1e;
  text-align: center;
}
.subpage.about .c50i50.team > * .ct img {
  width: 100%;
}
.subpage.about .c50i50.team > * .ma {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
.subpage.about .c50i50.team > * .ma > * {
  color: #1e1e1e;
  width: 25%;
  padding: 0 1rem 0 0;
}
.subpage.about .c50i50.team > * .ma > * a {
  color: #1e1e1e;
}
.subpage.about .c50i50.team > * .ma > * a:hover {
  color: #671d47;
}
.subpage.about .c50i50.team > * .ma > *:last-child {
  padding: 0;
}
.subpage.about .logos {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.subpage.about .logos > * {
  width: 45%;
  padding: 20% 0 0 0;
}
.subpage.product > .container {
  padding: 1rem 0;
}
.subpage.product .psec {
  padding: 3rem 2rem;
  border-bottom: 2px solid #671d47;
}
.subpage.product .psec:last-child {
  border: none;
}
.subpage.product .psec h3 {
  color: #f39200;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0!important;
}
.subpage.product .psec .content {
  color: #1e1e1e;
}
.subpage.product .psec .content img {
  max-width: 100%;
}
.subpage.product .psec .content ul {
  padding: 0;
}
.subpage.product .psec .content ul li {
  list-style-type: circle;
  margin-left: 1.2em;
}
.subpage.product .psec .files {
  display: flex;
  flex-direction: column;
}
.subpage.product .psec .files h4,
.subpage.product .psec .files h5 {
  margin: 0;
}
.subpage.product .psec .files h5 {
  font-size: 1.1rem;
  color: #1e1e1e;
  font-weight: normal;
}
.subpage.product .psec .files > div {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
.subpage.product .psec .files > div > div {
  display: flex;
  justify-content: flex-start;
}
.subpage.product .psec .files > div i {
  font-size: 3rem;
  line-height: 3rem;
}
.subpage.product .psec .files > div .morebutton {
  margin: 0!important;
  height: 2rem;
  line-height: 1rem;
}
.subpage.product .psec .files > div:nth-child(even) {
  background: #e9e9e9;
}
.subpage.product .phc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #aeccd0;
}
.subpage.product .phc > * {
  width: 50%;
}
.subpage.product .phc .pimg {
  background-size: 100% auto!important;
  background-position: center center;
  min-height: 200px;
}
.subpage.product .phc .content {
  background-color: #aeccd0 !important;
  padding: 2rem;
  color: #1e1e1e;
}
.subpage.product .phc .content ul {
  padding: 0;
}
.subpage.product .phc .content ul li {
  list-style-type: circle;
  margin-left: 1.2em;
}
.subpage.product .phc h1 {
  margin: 0 0 2rem;
  color: #f39200;
  text-transform: uppercase;
}
.subpage.product .phc h2 {
  margin: 0;
  color: #671d47;
  font-size: 1.1rem;
  font-weight: normal;
}
.pcatalog {
  display: flex !important;
  justify-content: space-between;
  padding: 0!important;
  margin-top: 2rem!important;
}
.pcatalog .pimg {
  width: 80%;
  background-size: cover!important;
  background-position: center center;
}
.pcatalog .ptxt {
  padding: 2rem;
  width: 20%;
}
.pcatalog .ptxt h3 {
  font-size: 2rem;
  color: #f39200;
  margin-bottom: 2rem;
}
