@fontcolor:rgb(103,29,71);
@mint:rgb(191,222,227);
@mint_hell:rgb(174,204,208);
@rot:rgb(103,29,71);
@orange:rgb(243,146,0);
@orange_hell:rgb(248,170,35);
@grau:rgb(233,233,233);


body{
  font-family: 'Century Gothic W01',Arial, Helvetica, sans-serif,serif;
  color:@fontcolor;
  *:not(i){
    font-family: 'Century Gothic W01',Arial, Helvetica, sans-serif important;
  }
  background:white;
}
h1,h2,h3,h4{
  font-family: 'Century Gothic W01',Arial, Helvetica, sans-serif;
}
a{
  color:@rot;
}
blockquote{
  text-align:center;
  font-style: italic;
  font-size:1.8rem;
}
header{
  #headermenuw{
    background:@mint;
  }
  #logotel{
    padding:1rem 0;
    display:flex;
    justify-content: space-between;
    .adrtel{
      display:flex;
      justify-content: flex-end;
      > div{
        padding: 0 1rem;
        margin: 0 1rem 0 0;
        border-right:1px solid @orange;
        &:last-child{
          margin:0;
          padding-right:0;
          border:none;
        }
        display:flex;
        justify-content: space-between;
        align-items:center;
        img{
          margin: 0 1rem 0 0;
        }
      }
    }
  }
  #mnt{
    display:none;
    position:absolute;
    right:1rem;
    top:1rem;
    @media (max-width: 720px){
      display:block;
    }
  }
  #headermenu{
    display:flex;
    justify-content: flex-start;
    padding:0.75em 0;
    @media (max-width: 720px){
      justify-content: flex-start;
      flex-wrap: wrap;
      padding:0!important;
      max-height:0px;
      overflow:hidden;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.6s;
      transition-timing-function: ease-in-out;
      &.mobvis{
        max-height:1000px;
        transition-property: all;
        transition-duration: 0.6s;
        transition-timing-function: ease-in-out;
        opacity: 1;
      }
    }
    .headermenuitem{
      flex:0 1 auto;
      color:@rot;
      text-transform:uppercase;
      text-align:center;
      font-size:1rem;
      line-height:1rem;
      &.active{
        color:@rot;
        text-decoration: underline;
      }
      padding:0 2rem;
      border-right:1px solid @orange;
      &:first-child{
        padding-left:0!important;
      }
      &:last-child{
        border:none;
      }
      word-wrap: none;
      white-space: nowrap;
    }
  }
}
footer{
  display:block;
  background:@rot;
  &.ui.container{
    margin:1rem 0 0 0!important;
  }
  .footermenu{
    display:flex!important;
    justify-content: center;
    a{
      color:white!important;
      padding:1rem;
      @media (max-width: 767px){
        padding:1rem 0.5rem;
      }
    }
  }
}