@fontcolor:rgb(103,29,71);
@mint:rgb(174,204,208);
@mint_hell:rgb(191,222,227);
@rot:rgb(103,29,71);
@rot_hell:rgb(126,37,89);
@orange:rgb(243,146,0);
@orange_hell:rgb(248,170,35);
@grau:rgb(233,233,233);
@content: rgb(30,30,30);


body{
  font-family: 'Century Gothic W01',Arial, Helvetica, sans-serif,serif;
  color:@fontcolor;
  *:not(i){
    font-family: 'Century Gothic W01',Arial, Helvetica, sans-serif important;
  }
  background:white;
}
h1,h2,h3,h4{
  font-family: 'Century Gothic W01',Arial, Helvetica, sans-serif;
}
a{
  color:@rot;
  &:hover{
    color:@orange_hell;
  }
}
.sy-box.topslider{
  background:@mint_hell;
}
.sy-pager{
  margin:0!important;
  padding:0.35rem 0 !important;
  li{
    &.sy-active{
      a{
        background:@rot!important;
      }
    }
    a{
      background:transparent!important;
      border:1px solid @rot;
    }
  }
}
blockquote{
  text-align:center;
  font-style: italic;
  font-size:1.8rem;
}
header{
  #headermenuw{
    background:@mint;
  }
  #logotel{
    padding:1rem 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    .adrtel{
      display:flex;
      justify-content: flex-end;
      flex:0 1 auto;
      > div{
        display:inline-block;
        flex:1 1 auto;
        padding: 0 1rem;
        margin: 0;
        border-right:1px solid @orange_hell;
        &:last-child{
          margin-right:0;
          padding-right:0;
          border:none;
        }
        display:flex;
        justify-content: space-between;
        align-items:center;
        img{
          margin: 0 1rem 0 0;
        }
      }
    }
  }
  #mnt{
    display:none;
    position:absolute;
    right:1rem;
    top:1rem;
    @media (max-width: 720px){
      display:block;
    }
  }
  #headermenu{
    display:flex;
    justify-content: flex-start;
    padding:0;
    @media (max-width: 720px){
      justify-content: flex-start;
      flex-wrap: wrap;
      padding:0!important;
      max-height:0px;
      overflow:hidden;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.6s;
      transition-timing-function: ease-in-out;
      &.mobvis{
        max-height:1000px;
        transition-property: all;
        transition-duration: 0.6s;
        transition-timing-function: ease-in-out;
        opacity: 1;
      }
    }
    .headermenuitem{
      flex:0 1 auto;
      color:@rot;
      text-transform:uppercase;
      text-align:center;
      font-size:1rem;
      line-height:3rem;
      display:flex;
      margin-left:-1px;
      &:first-child{
        margin-left:-1rem;
      }
      &.active{
        color:@rot;
        text-decoration: underline;
      }
      color:white!important;
      a{
        span{
          padding: 0 1em;
          border-right:1px solid @orange_hell;
        }
      }
      
      word-wrap: none;
      white-space: nowrap;
      position:relative;
      .sub-menu{
        width:0;
        height:0;
        overflow:hidden;
        position:absolute;
        top:3rem;
        left:0;
        margin-top:-1px;
        z-index:99;
        .sub-sub-menu{
          display:none;
          position:absolute;
          right:0;
        }
      }
      &:hover{
        background:@orange;
        color:white!important;
        a{
          color:white!important;
        }
        .sub-menu{
          width:auto;
          height:auto;
          background:@orange_hell;
          overflow: visible;
          display:flex;
          flex-direction: column;
          align-items:flex-start;
          .sub-menu-item{
            position:relative;
            text-align:left;
            width:100%;
            &:hover{
              background:@orange;
            }
            a{
              width:100%;
              text-align:left;
              padding:1em;
            }
            &:hover{
              .sub-sub-menu{
                display:block;
                left:100%;
                top:0;
                width:100%;
                position:absolute;
                background:@orange;
                display:flex;
                flex-direction:column;
                padding: 0 0 1em 0;
                .sub-sub-menu-item{
                  text-transform:none;
                  background:@orange;
                  font-weight:bold;
                  display:flex;
                  flex-direction:column;
                  justify-content: flex-start;
                  flex: 1 1 auto;
                  a{
                    white-space: normal;
                  }
                  > a{
                    padding:1em 1em 0em 1em;
                    line-height:1.2em;
                  }
                  .sub-sub-menu-list{
                    display:flex;
                    flex-direction:column;
                    justify-content:flex-start;
                    width:100%;
                  }
                  .sub-sub-menu-list-item{
                    display:flex;
                    flex-direction:column;
                    a{
                      font-weight:normal;
                      padding:0em 1em;
                      width:100%;
                      line-height:1.6em;
                      font-size:0.9rem;
                      border:none;
                      span{
                        border:none!important;
                      }
                      span:before{
                        margin: 0.1rem 0.5rem 0 0;
                        content:'-';
                      }
                      &:hover{
                        background:rgba(255,255,255,0.1)
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
footer{
  display:block;
  background:@rot;
  &.ui.container{
    margin:1rem 0 0 0!important;
  }
  .footermenu{
    display:flex!important;
    justify-content: center;
    align-items:center;
    padding:1rem 0;
    a{
      color:white!important;
      padding: 0 1rem 0 0;
      margin: 0 1rem 0 0;
      @media (max-width: 767px){
        padding:1rem 0.5rem;
      }
      border-right:1px solid white;
      line-height:1rem;
      &:last-child{
        padding:0;
        margin:0;
        border:none;
      }
    }
  }
}
.morebutton{
  margin:1rem 0;
  position:relative;
  color:white;
  display:flex;
  justify-content: flex-start;
  &:hover{
    color:@mint;
  }
  .iconw{
    background:@orange;
    padding:0.5rem;
  }
  .txt{
    display:inline-block;
    padding:0.5rem 1rem;
    text-align:center;
    background: @orange_hell;
  }
  &.rot{
    .iconw{
      background:@rot;
    }
    .txt{
      background: @rot_hell;
    }
  }
}
.c50i50{
  width:100%;
  display:flex!important;
  justify-content:space-between;
  flex-direction: row;
  > *{
    width:50%;
  }
  .content_no_even_odd{
    padding:2rem 2rem;
    h4{
      font-weight:normal;
      margin:0;
      text-transform:uppercase;
      font-size:0.9rem;
    }
    h3{
      color:@orange_hell;
      margin:0 0 1rem 0;
      font-size:2rem;
      text-transform:uppercase;
    }
    ul{
      padding:0;
      margin:0 0 1rem 0;
    }
    li{
      list-style-type:none;
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      p{
        padding-left:1em;
      }
      p:before{
        margin: 0.1rem  0.5rem 0 -1em;
        content:'>';
      }
    }
  }

  .content{
    padding:2rem 2rem;
    .pimg{
      
      background-size:auto 100%!important;
      height:100%;
      background-position: left center;
    }
    h4{
      font-weight:normal;
      margin:0;
      text-transform:uppercase;
      font-size:0.9rem;
    }
    h3{
      color:@orange_hell;
      margin:0 0 1rem 0;
      font-size:2rem;
      text-transform:uppercase;
    }
    ul{
      padding:0;
      margin:0;
    }
    li{
      list-style-type:none;
      display:flex;
      flex-direction: row;
      justify-content: flex-end;
      p:after{
        margin: 0.1rem 0 0 0.5rem;
        content:'>';
      }
    }
    &:nth-of-type(odd){
      h3,h4{
        text-align:right;
      }
      background-position: left 1rem top;
    }
    &:nth-of-type(even){
      .pimg{
        background-position: right 1rem center!important;
      }
      li{
        list-style-type:none;
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        p:before{
          margin: 0.1rem 0.5rem 0 0;
          content:'>';
        }
        p:after{
          content:''
        }
      }
    }
  }
}
.cblock{
  margin:0 0 1rem;
  &.flex{
    display:flex!important;
    flex-direction: row;
    justify-content: space-between;
  }
}
#home{
  .pbereiche{
    a{
      color:inherit!important;
      text-decoration:underline;
    }
  }
  #slidercontainer,#infoblock_endoscout{
    margin:0 0 1rem;
  }
  #slider{
    margin:0;
    padding:0;
    list-style-type: none;
    .slideritem{
      display:flex;
      justify-content: space-between;
      .pimg{
        background-size:cover!important;
        width:66%;
        min-height:400px;
      }
      .ptxt{
        padding:3rem 2rem;
        width:34%;
        background-color:@mint!important;
        h4{
          font-weight:normal;
          margin:0;
        }
        h3{
          color:@orange_hell;
          margin:0 0 1rem 0;
          font-size:2rem;
        }
      }
    }
  }
  padding:1rem 0 0 0;
}
.content50{
  flex: 1 0 50%;
  width:50%;
  padding:2rem;
  .pimg{
    height:100%;
    background-size:50% auto!important;
    background-position:right top!important;
    padding: 0 40% 0 0;
  }
  h4{
    font-weight:normal;
    margin:0;
    text-transform:uppercase;
    font-size:0.9rem;
  }
  h3{
    color:@orange_hell;
    margin:0 0 1rem 0;
    font-size:2rem;
    text-transform:uppercase;
  }
}
.content25{
  flex: 1 0 25%;
  width:25%;
  padding:2rem;
  .loc{
    margin: 0 0 1rem 0;
  }
  &.mint{
    background:@mint;
    h3{
      color:@orange!important;
    }
    h4{
      color:@rot!important;
    }
    color:@rot!important;
  }
  .pimg{
    background-size:30% auto!important;
    background-position:right bottom!important;
    padding: 0 0 0 0;
  }
  h4{
    font-weight:normal;
    margin:0;
    text-transform:uppercase;
    font-size:0.9rem;
  }
  h3{
    color:@orange_hell;
    margin:0 0 1rem 0;
    font-size:2rem;
    text-transform:uppercase;
  }
}
#breadcrumbsInline{
  a{
    line-height:2rem;
    font-size:0.8rem;
    color:inherit;
    &:after{
      content:'>>';
      margin:0 0.75rem 0 1rem;
    }
    &:last-child{
      &:after{
        content:'';
      }
    }
  }
}
#breadcrumbs{
  background:@mint_hell;
  .container{
    padding:0;
    a{
      line-height:2rem;
      font-size:0.8rem;
      &:after{
        content:'>>';
        margin:0 0.75rem 0 1rem;
      }
      &:last-child{
        &:after{
          content:'';
        }
      }
    }
  }
}
.subpage{
  &.productgroupslist{
    .header{
      margin:1rem 0;
      h1{
        text-transform:uppercase;
        font-size:2rem;
        margin:0;
      }
      .ct{
        display:flex;
        flex-direction:column;
        justify-content: center;
        padding:2rem;
      }
    }
    .pgroup{
      background:@grau;
      .img{
        padding:30% 0 0 0;
      }
      .titleAndLink{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:0.5rem 1rem;
        h2{
          margin:0;
        }
      }
    }
    &.landing{
      .pgroup.idx0{
        background:@rot;
        h2{
          color:white;
        }
      }
      .pgroup.idx1{
        background:@orange;
      }
    }
  }
  &.about{
    > .container{
      padding:1rem 0!important;
    }
    .c50i50{
      margin:0 0 1rem 0;
    }
    .c50i50.c2313{
      > *{
        width:34%!important;
        &:first-child{
          width:66%!important;
        }
        
      }
    }
    .c50i50.team{
      > *{
        width:100%;
        .ct{
          padding:0 2rem;
          color:@content;
          text-align:center;
          img{
            width:100%;
          }
        }
        .ma{
          display:flex;
          justify-content: space-between;
          padding: 0 2rem;
          >*{
            color:@content;
            width:25%;
            padding:0 1rem 0 0;
            a{
              color:@content;
              &:hover{
                color:@rot;
              }
            }
            &:last-child{
              padding:0;
            }
          }
        }
      }
    }
    .logos{
      position:relative;
      display:flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      >*{
        width:45%;
        padding:20% 0 0 0;
      }
    }
  }
  &.product{
    > .container{
      padding:1rem 0;
    }
    .psec{
      padding:3rem 2rem;
      border-bottom:2px solid @rot;
      &:last-child{
        border:none;
      }
      h3{
        color:@orange;
        font-size:1.8rem;
        text-transform: uppercase;
        margin: 0 0 1rem 0!important;
      }
      .content{
        color:@content;
        img{
          max-width:100%;
        }
        ul{
          padding:0;
          li{
            list-style-type: circle;
            margin-left:1.2em;
          }
        }
      }
      .files{
        display:flex;
        flex-direction:column;
        h4,h5{
          margin:0;
        }
        h5{
          font-size:1.1rem;
          color:@content;
          font-weight:normal;
        }
        > div{
          padding:1rem 2rem;
          display:flex;
          justify-content: space-between;
          > div{
            display:flex;
          justify-content: flex-start;
          }
          i{
            font-size:3rem;
            line-height:3rem;
          }
          .morebutton{
            margin:0!important;
            height:2rem;
            line-height:1rem;
          }
          &:nth-child(even){
            background:@grau;
          }
        }
      }
    }
    .phc{
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      >*{
        width:50%;
      }
      .pimg{
        background-size:cover;
        background-position:center center;
        min-height:200px;
      }
      .content{
        background-color:@mint!important;
        padding:2rem;
        color:@content;
        ul{
          padding:0;
          li{
            list-style-type: circle;
            margin-left:1.2em;
          }
        }
      }
      h1{
        margin: 0 0 2rem;
        color:@orange;
        text-transform:uppercase;
      }
      h2{
        margin:0;
        color:@rot;
        font-size:1.1rem;
        font-weight:normal;
      }
    }
  }
}
.pcatalog{
  display:flex !important;
  justify-content: space-between;
  padding:0!important;
  margin-top:2rem!important;
  .pimg{
    width:80%;
    background-size:cover!important;
    background-position: center center;
  }
  .ptxt{
    h3{
      font-size:2rem;
      color:@orange;
      margin-bottom:2rem;
    }
    padding:2rem;
    width:20%;
  }
}